<ion-header translucent>
    <ion-toolbar color="secondary">
  
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title text-capitalize>{{ titulo }}</ion-title>
    </ion-toolbar>
  </ion-header>