<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-capitalize>servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <div *ngFor="let s of servicios" class="servicesContainer">
    <ion-item (click)="salirConArgumentos(s.nombre,
                                          s.duracion)"
              color="primary"
              mode="md">
      <ion-label text-wrap>
        <b>
          {{s.nombre}}
        </b>
        <p>
        {{s.duracion}} 
        </p>
      </ion-label>
      <ion-label text-right>
        {{s.precio}}
      </ion-label>
    </ion-item>

  </div>
  <div class="servicesContainer"></div>
    
</ion-content>
