<app-header slot="start" titulo="Newsletter"></app-header>

<ion-content color="secondary">

    <div>
        <p padding>{{info}}</p>
    </div>
    <div style="vertical-align: 0%" padding color="light">
        <ion-checkbox class="privacyPolicyCheck" slot="start" color="primary" [(ngModel)]="shareEmail"></ion-checkbox>
        <ion-text [innerHtml]="privacyPolicyText" class="privacyPolicyText"></ion-text>
    </div>

    <div class="elementsContainer">
        <ion-item class="email-top" lines="none" color="secondary" padding-left>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" maxlength="30" autocomplete required placeholder="Dirección e-mail" (ionChange)="isValidEmail()" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="email">
            </ion-input>
        </ion-item>
        <div class="invalidFieldColored" *ngIf="!isEmail && email != null" lines="none" padding-bottom>Email inválido</div>
        <ion-button color="primary" expand="block" [disabled]="!shareEmail" (click)="subscribe()">Suscribirse</ion-button>
        <ion-button color="primary" expand="block" (click)="unSubscribe()">Cancelar Suscripción</ion-button>
    </div>

</ion-content>