.elementsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 40%;
}

.email-top {
    margin-top: 20%;
}

.privacyPolicyText {
    font-size: 0.9em;
    color: lightgray;
    margin-left: 12px;
}

.privacyPolicyCheck{
    vertical-align: bottom;
}

.invalidFieldColored {
    background-color: #2f2d34;
    color: orangered;
    font-size: 0.9em;
    font-weight: bold;
    height: 3%;
    padding-left: 18px;
}