
ion-button {
    margin: 8px;
}

.parent {
    margin: 8px;
    margin-top: 10px;
}

.child {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around
}

.toastCssCustom {
    --border-color: white;
    --border-radius: 1px;
    --border-style: solid;
    --border-width: 4px;
}

.calendarBackgroundColor {
    background-color: #35333b;
    color:red;
}