<app-header slot="start" titulo="Horarios"></app-header>


<ion-content color="secondary">
    <ion-item lines="full">
        <ion-calendar [type]="type" [(ngModel)]="date" [format]="'YYYY-MM-DD'" (change)="onChange($event)" [options]="optionsMonth">
        </ion-calendar>

    </ion-item>

    <ion-item (click)="seleccionarServicio()" color="primary" lines="full" detail>
        <h3>Servicio</h3>
        <ion-label (ngModel)="nombreServicio" text-right> {{nombreServicio}}</ion-label>
    </ion-item>
    <div class="parent">
        <div class="child">
            <ion-button *ngFor="let a of timeButtons" [disabled]="!a.Enabled" fill="solid" (click)="goToForm(a.Time)">
                {{a.Time}}
            </ion-button>
            <div *ngIf="timeJSON">
                <p *ngIf="timeJSON.Horario === undefined">No hay horas disponibles</p>
            </div>
        </div>
    </div>

</ion-content>