<ion-header translucent>
  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/calendario2"></ion-back-button>
    </ion-buttons>

    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

    <form #form="ngForm"
          (ngSubmit)="onSubmitForm()">
  
        <ion-item lines="none" color="light">
          <ion-label  position="floating">Nombre</ion-label>
          <ion-input  type="text"
                      name="nombre"
                      autocapitalize
                      required
                      autocomplete
                      maxlength="30"
                      (ionChange)="isValidName()"
                      [(ngModel)]="userData.name"></ion-input>
        </ion-item>
  
        <div *ngIf="isNombre" lines="none" class="invalidFieldColored">Nombre obligatorio</div>
  
        <ion-item lines="none" color="secondary">
          <ion-label  position="floating">Email</ion-label>
          <ion-input  type="email"
                      name="email"
                      maxlength="30"
                      autocomplete
                      required
                      (ionChange)="isValidEmail()"
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                      [(ngModel)]="userData.email"></ion-input>
        </ion-item>
  
        <div *ngIf="isEmail" lines="none" class="invalidField">Email inválido</div>
  
        <ion-item lines="none" color="light">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel"
                      name="phone"
                      required
                      autocomplete
                      pattern="[+]?[0-9]{9}[0-9]*3?"
                      maxlength="13"
                      (ionChange)="isValidPhone()"
                      [(ngModel)]="userData.phone"></ion-input>
        </ion-item>
  
        <div *ngIf="isPhone" lines="none" class="invalidFieldColored">Teléfono inválido</div>
  
        <ion-item lines="none" color="secondary">
          <ion-label position="floating">Comentarios</ion-label>
          <ion-textarea type="text"
                        name="comment"
                        rows="7"
                        placeholder="255 carácteres"
                        maxlength="255"
                        [(ngModel)]="userData.comment" ></ion-textarea>
        </ion-item>

        <ion-item color="light" class="labelInfo">Resumen</ion-item>
        <ion-item lines="none" color="secondary">
          <ion-label slot="start">Día: {{diaReserva}}</ion-label>
          <ion-label text-right>Hora: {{datosReserva.Time}}</ion-label>
        </ion-item>
        <ion-item color="light" lines="none">
          <ion-label>Servicio: {{datosReserva.Service}}</ion-label>
        </ion-item>

        <ion-button expand="block"
        type="submit"
        color="primary">Enviar</ion-button>
  
    </form>

    



</ion-content>
