.invalidField {
    color: orangered;
    font-size: 80%;
    font-weight: bold;
    height: 3%;
    padding-left: 18px;
}

.invalidFieldColored {
    background-color: #2f2d34;
    color: orangered;
    font-size: 80%;
    font-weight: bold;
    height: 3%;
    padding-left: 18px;
}

.labelInfo {
    font-weight: bold;
}
