.logoContainer {
    width: 100%;
    height: 35%;
    align-content: center;
    align-items: center;
    background-image: url("/assets/images/STERRATO_LOGO_blanco.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 65%;
}

@media only screen and (min-width: 415px) {
    .logoContainer {
        height: 30%;
        align-content: center;
        background-image: url("/assets/images/STERRATO_LOGO_blanco.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.top-10 {
    padding-top: 5px;
}