<ion-content color="secondary">

    <div class="logoContainer"></div>
    <div class="buttonContainer">
        <ion-item (click)="goToNewsletter()" text-center color="primary" lines="full">
            <ion-label>Newsletter</ion-label>
        </ion-item>
        <ion-item class="top-10" (click)="goToCalendar()" text-center color="primary" lines="full">
            <ion-label>Reservas</ion-label>
        </ion-item>
    </div>

</ion-content>